   <%= form_for local do |f| %>

		<div class="my_field">
	        <%= f.label :you_are, "Eres *" %>
			<%= f.select(:you_are, options_for_select(Local::TYPE_OF_LOCALS)) %>
      	</div>

      	<div class="my_field">
	        <%= f.label :shows, "Expones *" %>
			<%= f.select(:shows, options_for_select(Local::TYPE_OF_ARTISTS)) %>
      	</div>


		<div class="my_field">
	        <%= f.label  :type_of_professional, "Tipo de profesionales que frecuentan tus espacios *" %>
	        <%=  f.select(:type_of_professional, options_for_select(Local::TYPE_OF_PROFESSIONALS)) %>
      	</div>

      	<div class="my_field">
	        <%= f.label :type_of_exposition, "Tipo de exposiciones *" %>
	        <%=  f.select(:type_of_exposition, options_for_select(Local::TYPE_OF_EXPOSITIONS)) %>
      	</div>

      	<div class="my_field">
	        <%= f.label :agreements,  "Acuerdos con tus artistas *" %>
	        <%=  f.select(:agreements, options_for_select(Local::TYPE_OF_AGREEMENTS)) %>
      	</div>

      	<div class="btton_register">
      	  	<%= submit_tag "Finalizar" %>
      	</div>

	<% end %>

	