   <%= form_for local do |f| %>

		<div >
	        <%= f.label :you_are, "Eres *" %>
			<p class="form_input"><%= f.select(:you_are, options_for_select(Local::TYPE_OF_LOCALS)) %></p>
      	</div>

      	<div >
	        <%= f.label :shows, "Expones *" %>
			<p class="form_input"><%= f.select(:shows, options_for_select(Local::TYPE_OF_ARTISTS)) %></p>
      	</div>


		<div >
	        <%= f.label  :type_of_professional, "Tipo de profesionales que frecuentan tus espacios *" %>
	        <p class="form_input"><%=  f.select(:type_of_professional, options_for_select(Local::TYPE_OF_PROFESSIONALS)) %></p>
      	</div>

      	<div >
	        <%= f.label :type_of_exposition, "Tipo de exposiciones *" %>
	        <p class="form_input"><%=  f.select(:type_of_exposition, options_for_select(Local::TYPE_OF_EXPOSITIONS)) %></p>
      	</div>

      	<div >
	        <%= f.label :agreements,  "Acuerdos con tus artistas *" %>
	       <p class="form_input"> <%=  f.select(:agreements, options_for_select(Local::TYPE_OF_AGREEMENTS)) %></p>
      	</div>

      	<div class="btton_register button-sumit">
      	  	<%= submit_tag "Finalizar" %>
      	</div>

	<% end %>

	