<div class="register sign_up last_register_local">
    <p>REGÍSTRATE EN <strong> TUARTE </strong> </p>
    <p><small> Todos los campos marcados con * son obligatorios </small></p>

   <% id = params[:id] %>

	<%= form_tag ('/locals/welcome') do %>

		<%= hidden_field_tag :user_id, id %>

		<div class="my_field">
	        <%= label_tag "Eres *" %>
	        <%= select_tag :you_are, "<option> Galería </option>
	        						  <option> Museo </option>
	        						  <option> Café Temático </option>
	        						  <option> Centro Cultural / Fundación </option>
	        						  <option> Centro Educativo</option>
	        						  <option> Otros </option>".html_safe %>
      	</div>


      	<div class="my_field">
	        <%= label_tag "Expones *" %>
	        <%= select_tag :shows, "<option> Fotografía </option>
	        					    <option> Pintura </option>
	        					    <option> Escultura </option>
	        					    <option> Arquitectura </option>
	        						<option> Artes Visuales </option>".html_safe %>
      	</div>


		<div class="my_field">
	        <%= label_tag "Tipo de profesionales que frecuentan tus espacios *" %>
	        <%= select_tag :type_of_professional, "<option> Consagrados </option>
	        						  <option> Noveles </option>
	        						  <option> <em> Amateurs </em> </option>".html_safe %>
      	</div>

      	<div class="my_field">
	        <%= label_tag "Tipo de exposiciones *" %>
	        <%= select_tag :type_of_exposition, "<option> Un único artista </option>
	        						             <option> Varios artistas </option>".html_safe %>
      	</div>

      	<div class="my_field">
	        <%= label_tag "Acuerdos con tus artistas *" %>
	        <%= select_tag :agreements, "<option> Alquiler del local </option>
	        						     <option> Comisión de venta </option>".html_safe %>
      	</div>

      	<div class="btton_register">
      	  	<%= submit_tag "Finalizar" %>
      	</div>

	<% end %>

</div>