<% if @local == current_user.local %>
	<%= render '/locals/private_header' %>
<% else %>
	<%= render '/locals/public_header' %>
<% end %>


<div id='main'>
<article>
	<% local = Local.find params[:id] %>
		<div class="item-local">
			<p class ="item-media" style="margin-top: 60px;"> <%= image_tag local.user.avatar.url(:medium) %> </p>
				<div class="item-show">
					<h3> <strong>  <%= local.you_are%></strong> de <%= local.user.name %> </h3> 
					<p> <strong> Biografía: </strong><%= local.user.biography %></p> 
					<p> <strong> Persona de contacto: </strong><%= local.user.contact_person %> </p>
					<p> <strong> Teléfono: </strong><%= local.user.phone_number %> </p>
					<p> <strong> Dirección: </strong><%= local.user.address %> </p>
					<ul>
						<% if local.user.contact_person.present? %>
							<li> <%= link_to "Página web",  local.user.web %></li>
						<% end %>
						<% local.user.rrss.each_with_index do |rrss,index| %>
							<li><%= link_to_rrss(rrss, index) %>
						<% end %>	
					</ul>
				</div>
		</div>
</article>
	<nav ></nav>
    <aside></aside>
</div>
