
    <!--<h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%#= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>

      <div class="my_field">
        <%#= f.label :email %><br />
        <%#= f.email_field :email, autofocus: true %>
      </div>

      <% #if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%#= resource.unconfirmed_email %></div>
      <%# end %>

      <div class="my_field">
        <%#= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%#= f.password_field :password, autocomplete: "off" %>
      </div>

      <div class="my_field">
        <%#= f.label :password_confirmation %><br />
        <%#= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="my_field">
        <%#= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%#= f.password_field :current_password, autocomplete: "off" %>
      </div>-->

<script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false"></script>

<article>

    <h1>REGÍSTRATE EN <strong> TUARTE </strong> </h1>
    <p>Todos los campos marcados con * son obligatorios</p>

    <%= form_for(resource, as: resource_name, url: registration_path(:user), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
    

      <div >
        <%= f.label :name, "Nombre *" %>
        <p class="form_input"><%= f.text_field :name, autocomplete: "off" %></p>
      </div>

      <div>
        <%= f.label :biography, "Introduce una breve biografía" %>
        <%= f.text_area :biography , :rows => "10"%>
      </div>

      <div>
        <%= f.label :contact_person, "Persona de contacto *" %>
        <p class="form_input"><%= f.text_field :contact_person %></p>
      </div>

      <div>
        <%= f.label :phone_number, "Teléfono *" %>
        <p class="form_input"><%= f.text_field :phone_number %></p>
      </div>

      <div >

          <div class="localization_button" onclick="geoLocate();"><strong> Te geolocalizamos </strong>  </div>
          
          <br>
          <%= f.label :address, "Tu dirección *" %> <small>Puedes introducirla tú mismo si no quieres que lo hagamos por ti</small>
          <p class="form_input"><input type="text" id="city" name="user[address]"></p>
          <br>
          <div id="map"></div>
      </div>
     

      <div >
        <%= f.label :web, "Tu página web"%>
        <p class="form_input"><%= f.text_field :web , placeholder: "http://www.tuarte.com"%></p>
      </div>

      <div>
        <%= f.label :avatar, "Tu imagen" %>
        <p class="form_input"><%= f.file_field :avatar %></p>
      </div>


      <div>
        <%= f.label "Tus redes sociales" %>
        <i class="flaticon-twitter icon_position"></i>
        <p class="form_input"><input id="user_twitter" name="user[rrss][]" placeholder="@TuUsuarioEnTwitter" type="text"></p>
      </div>


      <div>
        <i class="flaticon-facebook2 icon_position"></i>
        <p class="form_input"><input id="user_facebook" name="user[rrss][]" placeholder="TuUsuarioEnFacebook" type="text"></p>
      </div>

      <div>
        <i class="flaticon-instagram13 icon_position"></i>
        <p class="form_input"><input id="user_instagram" name="user[rrss][]" placeholder="TuUsuarioEnInstagram" type="text"></p>
      </div>

      <div>
        <i class="flaticon-pinterest11 icon_position"></i>
        <p class="form_input"><input id="user_pinterest" name="user[rrss][]" placeholder="TuUsuarioEnPinterest" type="text"></p>
      </div>

      <div>
        <i class="flaticon-googleplus2 icon_position"></i>
        <p class="form_input"><input id="user_google_plus" name="user[rrss][]" placeholder="TuUsuarioEnGoogle+" type="text"></p>
      </div>




      

<!--<div>Icons made by <a href="http://www.flaticon.com/authors/elegant-themes" title="Elegant Themes">Elegant Themes</a>, <a href="http://www.flaticon.com/authors/icomoon" title="Icomoon">Icomoon</a>, <a href="http://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a>, <a href="http://www.flaticon.com/authors/bogdan-rosu" title="Bogdan Rosu">Bogdan Rosu</a> from <a href="http://www.flaticon.com" title="Flaticon">www.flaticon.com</a>             is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0">CC BY 3.0</a></div>-->
    <!-- ------------------ --> 

      <div class="btton_register bttn_little">
        <strong><%= f.submit "Continuar" %></strong>
      </div>
    <% end %>

  
    <!-- <h3>Cancelar mi cuenta</h3>

    <p><small>¿No estás contento? </small>
        <div class="btton_register">  
        <%#= button_to "Borrar mi cuenta", registration_path(resource_name), data: { confirm: "¿Estás seguro?" }, method: :delete %>
        </div>
    </p>-->

    <%#= link_to "Volver", :back %>

</article>