<div id="myModal" class="modal fade">
	<div class="modal-dialog">
	 <div class="modal-content">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
			                    </button>
			                    <h4 class="modal-title" id="modal-title">Artista: <%= current_user.name %></h4>
			                </div>
			                <% current_user.artist.works.each do |work| %>
				                <div class="modal-body" id="modal-body">
				                <p class ="item-media" > <%= image_tag work.avatar.url(:thumb) %></p>
				                    <p><%= work.title %></p>
				                    <% binding.pry %>
				                </div>
				                <div class="additional-information" id="additional-information">
				                <ul>
			                    	<li>Dimensiones: <small><%= work.size %>cm </small></li>
			                    	<li>Precio: <small><%= work.price %>€</small></li> 
			                    </ul>
			                </div>
			                <% end %>
			                
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			                </div>
			            </div>
			        </div>
		</div>