<div id="myModal" class="modal fade">
	<div class="modal-dialog">
	 <div class="modal-content" style="width: 275px; ">
			                <div class="modal-header">
			                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;
			                    </button>
			                    <h4 class="modal-title black-size" id="modal-title">Artista: <%= current_user.name %></h4>
			                </div>
			                <% current_user.artist.works.each do |work| %>
				                <div class="modal-body" id="modal-body">
				                <p class ="item-media-modal " > <%= image_tag work.avatar.url(:thumb) %></p>
				                    <p class="black-size"><%= work.title %></p>
				                </div>
				                <div class="additional-information black-size" id="additional-information">
				                	<p style="font-size: 17px;">
			                    	 <strong>Dimensiones: </strong><small><%= work.size %>cm </small></p >
			                    	<p style="font-size: 17px;"><strong> Precio: </strong><small><%= work.price %>€</small></p> 
			                    </ul>
			                </div>
			                <% end %>
			                
			                <div class="modal-footer">
			                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			                </div>
			            </div>
			        </div>
		</div>