<div class="description">
	<% artist = Artist.find params[:id] %>
	
	<section class="clearfix">
		<div class="item-local">
			<p class ="item-media" > <%= image_tag artist.user.avatar.url(:medium) %> </p>
				<div class="item-show">
					<h3> <strong>  <%= artist.you_are%></strong> - <%= artist.user.name %> </h3> 
					<p> <strong> Biografía: </strong><%= artist.user.biography %></p> 
					<p> <strong> Persona de contacto: </strong><%= artist.user.contact_person %> </p>
					<p> <strong> Teléfono: </strong><%= artist.user.phone_number %> </p>
					<p> <strong> Dirección: </strong><%= artist.user.address %> </p>
					<ul>
						<% if !artist.user.contact_person.nil? %>
							<li> <%= link_to "Página web",  artist.user.web %></li>
						<% end %>
						<% if !artist.user.rrss[0].empty? %>
							<li><%= link_to '<i class="flaticon-twitter"></i>'.html_safe, "https://twitter.com/intent/user?screen_name=#{local.user.rrss[0]}" %>
							</li>
						<% end %>
						<% if !artist.user.rrss[1].empty? %>
							<li><%= link_to '<i class="flaticon-facebook2"></i>'.html_safe, 
							"https://www.facebook.com/#{local.user.rrss[1]}" %>
							</li>
						<% end %>
						<% if !artist.user.rrss[2].empty? %>
							<li><%= link_to '<i class="flaticon-instagram13"></i>'.html_safe, 
							"https://www.instagram.com/#{local.user.rrss[2]}" %>
							</li>
						<% end %>
						<% if !artist.user.rrss[3].empty? %>
							<li><%= link_to '<i class="flaticon-pinterest11"></i>'.html_safe, 
							"https://www.pinterest.com/#{local.user.rrss[3]}" %>
							</li>
						<% end %>
						<% if !artist.user.rrss[4].empty? %>
							<li><%= link_to '<i class="flaticon-googleplus2"></i>'.html_safe, 
							"https://plus.google.com/#{local.user.rrss[4]}" %>
							</li>
						<% end %>
					</ul>

				</div>
		</div>
	</section>


</div>