<div class="register sign_up">
		<p>¿Has olvidado tu password?</p>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div class="my_field">
		    <%= f.label :email %><br />
		    <%= f.email_field :email, autofocus: true %>
		  </div>

		  <div class="btton_register">
		    <%= f.submit "Envíame un nuevo password!" %>
		  </div>
		<% end %>

		<p> <small> ¿Ya tienes una cuenta? <%= link_to "Inicia Sesión", user_session_path %> </small> </p>
		<p> <small>¿Todavía no tienes una cuenta?<%= link_to "¡REGÍSTRATE!", sign_up_from_path %> </small> </p>

</div>