<article>
		<h1>¿Has olvidado tu password?</h1>

		<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
		  <%= devise_error_messages! %>

		  <div>
		    <%= f.label :email, "Introduce el email al que enviaremos tu nuevo password"%><br />
		    <p class="form_input"><%= f.email_field :email, autofocus: true %>
		  </div>

		  <div class="btton_register button-password">
		    <%= f.submit "Envíame un nuevo password!" %>
		  </div>
		<% end %>

		<p class="ya-tienes-cuenta">¿Ya tienes una cuenta? <strong><%= link_to "Inicia Sesión", user_session_path %></strong></p>
		<p class="ya-tienes-cuenta">¿Todavía no tienes una cuenta?
		<strong><%= link_to "¡REGÍSTRATE!", new_user_registration_path %></strong> </p>

</article>