<article>
    <h1>ENTRA EN <strong> TUARTE </strong> </h1>
      <div class="errors">
        <p class="alert"><%= alert %></p>
      </div>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="my_field">
        <%= f.label :email %>
        <%= f.email_field :email, autofocus: true %>
      </div>

      <div class="my_field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "off" %>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="my_field">
          <%#= f.check_box :remember_me %>
          <%#= f.label "Recuérdame" %>
           <div class="checkbox">
              <label>
                <input name="user[remember_me]" type="hidden" value="0">
                <input id="user_remember_me" name="user[remember_me]" type="checkbox" value="1"> 
                <small> Recuérdame </small>
              </label>
            </div>
          
        </div>
      <% end -%>

      <div class="btton_register button-sumit">
        <%= f.submit "Enviar" %>
      </div>
    <% end %>

    <p class="ya-tienes-cuenta">¿Todavía no tienes una cuenta? 
    <strong> <%= link_to "¡REGÍSTRATE!",  new_user_registration_path %></strong></p>

    <p class="ya-tienes-cuenta"><%= link_to "¿Has olvidado tu password?", new_user_password_path %></p>

</article>