<div class="description">
	<% if @artist_ids.blank? %>
		<p> Lo sentimos, en este momento no existen coincidencias en nuestra base de datos.</p>
		<p> ¡Inténtalo de nuevo con otros parámetros de búsqueda!</p>
		<p> ¡Gracias! </p>
	<% else %>
		<% @artist_ids.each do |artist_id| %>
			<% artist = Artist.find artist_id %>
			<section class="clearfix">
				<div class="item-local">
					<div class="item-show">
						<section class="clearfix">
							<div class="item-local">
								<p class ="item-media" > <%= image_tag artist.user.avatar.url(:thumb) %> </p>
								<div class="item-txt ">
									<h3> <strong><%= artist.you_are%></strong> - <%= artist.user.name %></h3> 
									<p> <%= artist.user.address%> </p>
								    <p> <%=artist.user.biography %><%=link_to "Ver más", artist_path(artist) %></p>
								</div>
							</div>
						</section>
					</div>
				</div>
			</section>			
		<% end %>
	<% end %> 
</div>