<p class="user">  <%= image_tag current_user.avatar.url(:medium) %> <span class="button"> <%= link_to "Añadir una Obra", new_artist_work_path(current_user.artist) if current_user.artist!=nil%> </span>
 </p>

<div class="clearfix">

	<aside class="my_aside">
		<p> ESTOY BUSCANDO... </p>
	</aside>

	<section class="my_section">
	
	<% if current_user.artist!= nil %>
			<% stars = current_user.artist.my_locals.values %>
			<% ids = current_user.artist.my_locals.keys %>
			<% i = 0 %> 
			<% ids.each do |id|%>
				<%local = Local.find id %>

					<section class="clearfix">
						<div class="item-local">
								<p class ="item-media" > <%= image_tag local.user.avatar.url(:thumb) %> </p>
								<div class="item-txt ">
									<h3> <%= local.user.name %>  
									<% stars[i].times do %>
										<i class="flaticon-favourites7"></i>
									<% end %>
									</h3> 
									<p>  <%= local.user.biography %></p> <p> <%= link_to "Ver más" , local_path(local) %></p>
								</div>
						</div>
					</section>
		    <% i+= 1 %>
		    <% end %> 
	<% end %>
	
	</section>

	

</div>