<!DOCTYPE html>
<html lang="es">

	<head>
		  <meta charset="UTF-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">

		  <title>tuarte</title>

		  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		  <%= csrf_meta_tags %>
	</head>

	<body>
		<div class="container">
			<header class="header">
				<span> <%= link_to "tuarte", home_path %> </span>

				<nav>
					<ul>
						<li> <%= link_to "¿Qué es <strong>tuarte</strong>?".html_safe, que_es_tuarte_path %> </a> </li>
						<li> <%= link_to "Regístrate" , sign_up_path %></li>
						<li> <%= link_to "Inicia Sesión", new_user_session_path %> </li>
					</ul>
				</nav>

			</header>

			<%= yield %>
			
		</div>
		<footer class="footer">
			©COPYRIGHT 2015. LORENA. TODOS LOS DERECHOS RESERVADOS
		</footer>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>

	</body>

</html>
