<!DOCTYPE html>
<html lang="es">

	<head>
		  <meta charset="UTF-8">
		  <meta name="viewport" content="width=device-width, initial-scale=1">

		  <title>tuarte</title>

		  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		  <%= csrf_meta_tags %>

		  <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
		  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&sensor=false"></script>
	</head>

	<body>
		<div class="big_container">
			<header class="header">
				<span> <%= link_to "tuarte", home_path %> </span>
				<nav>
					<ul>
						<li> <strong> <%= current_user.name if !current_user.nil?%> </strong> </li>
						<li> <%= link_to "Cerrar Sesión", destroy_user_session_path %> </li>
					</ul>
				</nav>

			</header>


			<div class="register sign_up_step2">

			    <p>REGÍSTRATE EN <strong> TUARTE </strong> </p>
			    <p><small> Todos los campos marcados con * son obligatorios </small></p>

			    <%= form_for(resource, as: resource_name, url: registration_path(:user), html: { method: :put }) do |f| %>
			      <%= devise_error_messages! %>
			    

					      <div class="my_field">
					        <%= f.label :name, "Nombre *" %>
					        <%= f.text_field :name, autocomplete: "off" %>
					      </div>

					      <div class="my_field">
					        <%= f.label :biography, "Introduce una breve biografía" %>
					        <%= f.text_area :biography , :rows => "10"%>
					      </div>

					      <div class="my_field">
					        <%= f.label :contact_person, "Persona de contacto *" %>
					        <%= f.text_field :contact_person %>
					      </div>

					      <div class="my_field">
					        <%= f.label :phone_number, "Teléfono *" %>
					        <%= f.text_field :phone_number %>
					      </div>

					      <div class="my_field">

					          <div class="localization_button" onclick="geoLocate();"><strong> Te geolocalizamos </strong>  </div>
					          
					          <br>
					          <%= f.label :address, "Tu dirección *" %>
					          <input type="text" id="city" name="user[address]">
					          <br>
					          <div id="map"></div>
					      </div>
					     

					      <div class="my_field">
					        <%= f.label :web, "Tu página web" %>
					        <%= f.text_field :web %>
					      </div>

					      <div class="my_field">
					        <%= f.label :avatar, "Tu imagen" %>
					        <%= f.file_field :avatar %>
					      </div>


					      <div class="my_field">
					        <%= f.label "Tus redes sociales" %>
					        <i class="flaticon-twitter icon_position"></i>
					        <input id="user_twitter" name="user[rrss][]" placeholder="@TuUsuarioEnTwitter" type="text">
					      </div>

					      <div class="my_field">
					        <i class="flaticon-facebook2 icon_position"></i>
					        <input id="user_facebook" name="user[rrss][]" placeholder="TuUsuarioEnFacebook" type="text">
					      </div>

					      <div class="my_field">
					        <i class="flaticon-instagram13 icon_position"></i>
					        <input id="user_instagram" name="user[rrss][]" placeholder="TuUsuarioEnInstagram" type="text">
					      </div>

					      <div class="my_field">
					        <i class="flaticon-pinterest11 icon_position"></i>
					        <input id="user_pinterest" name="user[rrss][]" placeholder="TuUsuarioEnPinterest" type="text">
					      </div>

					      <div class="my_field">
					        <i class="flaticon-googleplus2 icon_position"></i>
					        <input id="user_google_plus" name="user[rrss][]" placeholder="TuUsuarioEnGoogle+" type="text">
					      </div>


					      <div class="btton_register">
					        <%= f.submit "Continuar" %>
					      </div>
					    <% end %>

				</div>	
			
		</div>


		<footer class="footer">
			©COPYRIGHT 2015. LORENA - IRONHACK. TODOS LOS DERECHOS RESERVADOS
		</footer>

	</body>

</html>